<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @generalhealth.Id %></h1>
    <%= link_to "Edit", :action => :edit, :id => @generalhealth.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Id</td>
        <td class="itemValue"><%= @generalhealth.Id%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Email</td>
        <td class="itemValue"><%= @generalhealth.Email%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">ArmyNavy</td>
        <td class="itemValue"><%= @generalhealth.Army_Navy%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Height</td>
        <td class="itemValue"><%= @generalhealth.Height%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Weight</td>
        <td class="itemValue"><%= @generalhealth.Weight%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Doc</td>
        <td class="itemValue"><%= @generalhealth.Doc%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">PrevSurgeries</td>
        <td class="itemValue"><%= @generalhealth.Prev_Surgeries%></td>
      </tr>
      
    </table>
  </div>

</div>
