<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @famliyhistory.Id %></h1>
    <%= link_to "Edit", :action => :edit, :id => @famliyhistory.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Id</td>
        <td class="itemValue"><%= @famliyhistory.Id%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Diabetes</td>
        <td class="itemValue"><%= @famliyhistory.Diabetes%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Cancer</td>
        <td class="itemValue"><%= @famliyhistory.Cancer%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">InfecDiseases</td>
        <td class="itemValue"><%= @famliyhistory.Infec_Diseases%></td>
      </tr>
      
    </table>
  </div>

</div>
