<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @lungs.id %></h1>
    <%= link_to "Edit", :action => :edit, :id => @lungs.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Id</td>
        <td class="itemValue"><%= @lungs.id%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Tuberculosis</td>
        <td class="itemValue"><%= @lungs.tuberculosis%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Pneumonia</td>
        <td class="itemValue"><%= @lungs.pneumonia%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Spittingofblood</td>
        <td class="itemValue"><%= @lungs.spittingofblood%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Bronchitis</td>
        <td class="itemValue"><%= @lungs.bronchitis%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Asthma</td>
        <td class="itemValue"><%= @lungs.asthma%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Persistentcough</td>
        <td class="itemValue"><%= @lungs.persistentcough%></td>
      </tr>
      
    </table>
  </div>

</div>
