<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @narcotics.Id %></h1>
    <%= link_to "Edit", :action => :edit, :id => @narcotics.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Id</td>
        <td class="itemValue"><%= @narcotics.Id%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">AlcQuan</td>
        <td class="itemValue"><%= @narcotics.Alc_Quan%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">AlcType</td>
        <td class="itemValue"><%= @narcotics.Alc_Type%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">SmokeQuan</td>
        <td class="itemValue"><%= @narcotics.Smoke_Quan%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">TobaccoQuan</td>
        <td class="itemValue"><%= @narcotics.Tobacco_Quan%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">DrugsQuan</td>
        <td class="itemValue"><%= @narcotics.Drugs_Quan%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">DrugsType</td>
        <td class="itemValue"><%= @narcotics.Drugs_Type%></td>
      </tr>
      
    </table>
  </div>

</div>
