<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @financialform.object %>
    <h1>Edit <%= @financialform.Id%></h1>
    <%= link_to "Delete", :action => :delete, :id => @financialform.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @financialform.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Id: </td>
              <td class="itemValue"><input type="text" name="financialform[Id]" value="<%= @financialform.Id %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Annual income: </td>
              <td class="itemValue"><input type="text" name="financialform[Annual_Income]" value="<%= @financialform.Annual_Income %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Sum assured: </td>
              <td class="itemValue"><input type="text" name="financialform[Sum_Assured]" value="<%= @financialform.Sum_Assured %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Payable time: </td>
              <td class="itemValue"><input type="text" name="financialform[Payable_Time]" value="<%= @financialform.Payable_Time %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Amount of deposit: </td>
              <td class="itemValue"><input type="text" name="financialform[Amount_of_Deposit]" value="<%= @financialform.Amount_of_Deposit %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
