<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Excretary System Diseases <%= @excretarysystem.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>
      <%  
                    
                    @model002s1 = DentalIssues.find(:all)
                    
                    
                     @model002s1.each do |model001|
                       $fid3 = model001.id
                       
                     end
                      $fid3 = $fid3.to_i
                      
                    
                     %>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @excretarysystem.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="excretarysystem[id]" class="fieldLabel">Id</label>
            <input type="text" id="excretarysystem[id]" name="excretarysystem[id]" <%= placeholder("Id") %> value="<%= $fid3 %>" />
          </div>
      
          <ol>
          <li>
          Chronic Kidney Diseases
            <input type="radio" id="excretarysystem[chronic]-1" value="y" name="excretarysystem[chronic]" <%= placeholder("Chronic") %> />
            <label for="excretarysystem[chronic]-1">Yes</label>
            <input type="radio" id="excretarysystem[chronic]-2" value="n" checked name="excretarysystem[chronic]" <%= placeholder("Chronic") %> />
              <label for="excretarysystem[chronic]-2">No</label>
          </li>
          <li>
          Prostrate diseases other than cancer?
            <input type="radio" id="excretarysystem[prostratediseases]-1" value="y" name="excretarysystem[prostratediseases]" <%= placeholder("Prostratediseases") %> />
              <label for="excretarysystem[prostratediseases]-1">Yes</label>
            <input type="radio" id="excretarysystem[prostratediseases]-2" value="n" checked name="excretarysystem[prostratediseases]" <%= placeholder("Prostratediseases") %> />
              <label for="excretarysystem[prostratediseases]-2">No</label>
          </li>
          <li>
          Urinary Diseases
            <input type="radio" id="excretarysystem[urinary]-1" value="y" name="excretarysystem[urinary]" <%= placeholder("Urinary") %> />
              <label for="excretarysystem[urinary]-1">Yes</label>
            <input type="radio" id="excretarysystem[urinary]-2" value="n" checked name="excretarysystem[urinary]" <%= placeholder("Urinary") %> />
              <label for="excretarysystem[urinary]-2">No</label>
          </li>
          <li>
          Kidney stones
            <input type="radio" id="excretarysystem[kidneystone]-1" value="y" name="excretarysystem[kidneystone]" <%= placeholder("Kidneystone") %> />
              <label for="excretarysystem[kidneystone]-1">Yes</label>
            <input type="radio" id="excretarysystem[kidneystone]-2" value="n" checked name="excretarysystem[kidneystone]" <%= placeholder("Kidneystone") %> />
              <label for="excretarysystem[kidneystone]-2">No</label>
          </li>
          </ol>      

      <input type="submit" value="Next >>"/>
              <a href="Stomach\new"> Back

    </form>
  </div>

</div>
