<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @personalform.object %>
    <h1>Edit <%= @personalform.Id%></h1>
    <%= link_to "Delete", :action => :delete, :id => @personalform.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @personalform.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Id: </td>
              <td class="itemValue"><input type="text" name="personalform[Id]" value="<%= @personalform.Id %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Fname: </td>
              <td class="itemValue"><input type="text" name="personalform[Fname]" value="<%= @personalform.Fname %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Mname: </td>
              <td class="itemValue"><input type="text" name="personalform[Mname]" value="<%= @personalform.Mname %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Lname: </td>
              <td class="itemValue"><input type="text" name="personalform[Lname]" value="<%= @personalform.Lname %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Gender: </td>
              <td class="itemValue"><input type="text" name="personalform[Gender]" value="<%= @personalform.Gender %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Dob: </td>
              <td class="itemValue"><input type="text" name="personalform[Dob]" value="<%= @personalform.Dob %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Pob: </td>
              <td class="itemValue"><input type="text" name="personalform[Pob]" value="<%= @personalform.Pob %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Age: </td>
              <td class="itemValue"><input type="text" name="personalform[Age]" value="<%= @personalform.Age %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Address: </td>
              <td class="itemValue"><input type="text" name="personalform[Address]" value="<%= @personalform.Address %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Nationality: </td>
              <td class="itemValue"><input type="text" name="personalform[Nationality]" value="<%= @personalform.Nationality %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Relation to insured: </td>
              <td class="itemValue"><input type="text" name="personalform[Relation_to_Insured]" value="<%= @personalform.Relation_to_Insured %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Occupation: </td>
              <td class="itemValue"><input type="text" name="personalform[Occupation]" value="<%= @personalform.Occupation %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Length of service: </td>
              <td class="itemValue"><input type="text" name="personalform[Length_of_Service]" value="<%= @personalform.Length_of_Service %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
