<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @otherdiseases.id %></h1>
    <%= link_to "Edit", :action => :edit, :id => @otherdiseases.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Id</td>
        <td class="itemValue"><%= @otherdiseases.id%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Cancer</td>
        <td class="itemValue"><%= @otherdiseases.cancer%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Hiv</td>
        <td class="itemValue"><%= @otherdiseases.hiv%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Leprosy</td>
        <td class="itemValue"><%= @otherdiseases.leprosy%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Rheumatism</td>
        <td class="itemValue"><%= @otherdiseases.rheumatism%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Tumor</td>
        <td class="itemValue"><%= @otherdiseases.tumor%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Gout</td>
        <td class="itemValue"><%= @otherdiseases.gout%></td>
      </tr>
      
    </table>
  </div>

</div>
